<!--
  Generated template for the DetailFraiseEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="blue">
    <ion-title style="text-align: center;">Détail Client Fraise'Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 

  <h3 align="center">Les informations du Client</h3> <br>

      <table class="table">
          <thead class="thead-dark">
            <tr>
             
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CONTACT CLIENT</th>
              <td>{{value.contact}}</td>
            </tr>
            <tr>
              <th scope="row">DELAI DE LIVRAISON</th>  
              <td>{{value.delai}}</td>
              
            </tr>
            <tr>
              <th scope="row">VALIDITE OFFRE</th>
              <td>{{value.validite}}</td>
             
            </tr>
            <tr>
                <th scope="row">CONTACT SAREQ</th>
                <td>{{value.contactsareq}}</td>
               
              </tr>
          </tbody>
        </table>

        

</ion-content>
