<!--
  
  Generated template for the FraiseEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="bleu">
    <ion-title style="text-align: center;">Fraise'Event</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">REF.Client</th>
          <th scope="col">CONTACT CLIENT</th>
          <th scope="col">DELAI DE LIVRAISON</th>
          <th scope="col">VALIDITE OFFRE</th>
          <th scope="col">CONTACT SAREQ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of result"  (click)="test($event, m)">
          <th scope="row">---</th>
          <td>401- </td>
          <td>{{m.contact}}</td> 
          <td>{{m.delai}}</td>
          <td>{{m.validite}}</td>
          <td>{{m.contactsareq}}</td>
        </tr>
      </tbody>
    </table>

    <ion-buttons end class="button-bottom" slot="fixed" style="font-size: 4em;">
      <button ion-button round  horizontal="end" (click)="presentPrompt()">
        <ion-icon name="add" ></ion-icon>
      </button>
     </ion-buttons>
    
</ion-content>
<!--
<ion-footer >
  <ion-toolbar >

    <button ion-button color="save" (click)=" presentPrompt()">
      Ajouter
    </button>

    <ion-buttons end>
        <button ion-button round  horizontal="end" (click)=" presentPrompt()">
            <ion-icon name="add" style="font-size: 2em;"></ion-icon> &nbsp;
         
        </button> 
    </ion-buttons>
    
  </ion-toolbar>
</ion-footer>
 
-->

    
    
 
