<ion-header>
	<ion-navbar color="bleu">
      <ion-buttons >
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title >Sareq Group</ion-title>
    <ion-buttons end>
        <button ion-button (click)="logOut()">
          <ion-icon name="log-out"> Deconnexion</ion-icon>
        </button>
      </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card no-margin margin-bottom class="full-width" >
        <!-- <ion-item tappable (click)="choosePlace('from')" class="border-bottom">
           <ion-icon name="search" color="primary" item-left></ion-icon>
           <span></span>
         </ion-item>  -->
         <ion-item>
           <ion-searchbar showCancelButton="always" animated placeholder="Chercher une Entrepise..." [(ngModel)]="terms"></ion-searchbar>
         </ion-item>
       </ion-card>
 
       <button  ion-button icon-start block no-margin color="primary" class="round" tappable (click)="sort()">
         <ion-icon name="search"></ion-icon> Chercher
       </button>
 
</ion-content>
