<ion-split-pane>
        <!--  our side menu  -->
        <ion-menu [content]="content">
          <ion-header>
            <ion-toolbar color="bleu">
              <ion-title>Menu</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list color="navbarColor">
                <ion-item>
                    <img src="assets/icon/logosareq.png">
        
                 </ion-item>
              <ion-item >
                  <button menuClose ion-item (click)= "accueil()">
                      <h2>Accueil </h2>
                      <p>Welcome! :-)</p>
                      <ion-icon color="bleu" item-left name="home"></ion-icon>
                    </button>
                    
              </ion-item>
              <ion-item >
                <button menuClose ion-item (click)= "prospect()">
                    <h2>Fiche Prospect </h2>
                    <p>Gestion des Prospects</p>
                    <ion-icon color="bleu" item-left name="contacts"></ion-icon>
                  </button>
                  
            </ion-item>
            <ion-item >
              <button menuClose ion-item (click)= "aggrement()">
                  <h2>Demande d'aggrement </h2>
                  <p>Gestion des Prospects</p>
                  <ion-icon color="bleu" item-left name="clipboard"></ion-icon>
                </button>
                
          </ion-item>
              <ion-item >
                  <button menuClose ion-item >
                      <h2>BASE DE DONNEES</h2>
                      <p>Choisissez un Domaine !</p>
                      <ion-icon item-left name="stats" color="bleu"></ion-icon>
                    </button>
                    <button menuClose ion-item (click)= "fraisevent()">
                      <h2>FraiseEvent</h2>
                      <p>Agence de Communication</p>
                      
                    </button>
                    <button menuClose ion-item (click)= "sardis()">
                      <h2>Sardis</h2>
                      <p>Distribution et Production</p>
                    
                    </button>
                    <button menuClose ion-item (click)= "sareqbtp()">
                      <h2>SareqBTP</h2>
                      <p>Travaux Publics, Bâtiment, Génie civil</p>
                    
                    </button>
                    <button menuClose ion-item (click)= "sareqtrans()">
                      <h2>SareqTrans</h2>
                      <p>Transport...</p>
                  
                    </button>
              </ion-item>
              <ion-item >
                <button menuClose ion-item (click)= "factureP()">
                    <h2>Facture Proformat </h2>
                    <p>...</p>
                    <ion-icon color="bleu" item-left name="paper"></ion-icon>
                  </button>
                  
            </ion-item>
            <ion-item >
              <button menuClose ion-item (click)= "factureD()">
                  <h2>Facture Définitive </h2>
                  <p>...</p>
                  <ion-icon color="bleu" item-left name="paper"></ion-icon>
                </button>
                
          </ion-item>
       
            </ion-list>
          </ion-content>    
        </ion-menu>
      
        <!-- the main content -->
        <ion-nav [root]="rootPage" main #content></ion-nav>
      </ion-split-pane>