<!--
  Generated template for the SardisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="bleu">
    <ion-title style="text-align: center;">Sardis</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">REF.Client</th>
            <th scope="col">CONTACT CLIENT</th>
            <th scope="col">DELAI DE LIVRAISON</th>
            <th scope="col">VALIDITE OFFRE</th>
            <th scope="col">CONTACT SAREQ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of result">
            <th scope="row">---</th>
            <td>401- </td>
            <td>{{m.contact}}</td> 
            <td>{{m.delai}}</td>
            <td>{{m.validite}}</td>
            <td>{{m.contactsareq}}</td>
          </tr>
        </tbody>
      </table>

  <ion-buttons end class="button-bottom" slot="fixed" style="font-size: 4em;">
    <button ion-button round  horizontal="end" (click)="ajoutPrompt()">
      <ion-icon name="add" ></ion-icon>
    </button>
   </ion-buttons>

</ion-content>
