<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="bleu">
    <ion-title style="text-align: center;">Veuillez creer un compte</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

 <!-- Login form -->
 <form class="list-form">

  <ion-item>
    <ion-label floating>
      <ion-icon name="person" item-start class="text-primary"></ion-icon>
      Prenom
    </ion-label>
    <ion-input type="text" [(ngModel)]="prenom" name="prenom" ></ion-input>
  </ion-item>

  <ion-item>
      <ion-label floating>
        <ion-icon name="person" item-start class="text-primary"></ion-icon>
        Nom
      </ion-label>
      <ion-input type="text" [(ngModel)]="nom" name="nom" ></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>
        <ion-icon name="logo-reddit" item-start class="text-primary"></ion-icon>
        Date de Naissance
      </ion-label>
      <ion-datetime [(ngModel)]="birth" name="birth" display-format="DD-MM-YYYY	"></ion-datetime>
    </ion-item>
  
  <ion-item>
    <ion-label floating>
      <ion-icon name="mail" item-start class="text-primary"></ion-icon>
      Email
    </ion-label>
    <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label floating>
      <ion-icon name="lock" item-start class="text-primary"></ion-icon>
      Mot de passe
    </ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>


  <ion-item>
      <ion-label floating>Genre</ion-label>
      <ion-select [(ngModel)]="genre" name="genre">
        <ion-option value="Homme">Homme</ion-option>
        <ion-option value="Femme">Femme</ion-option>
      </ion-select>
  </ion-item> 
</form>
<br>
<br>
<div margin-top>
  <button ion-button block color="dark" tappable (click)="doSignup()">
    S'inscrire
  </button>

  
</div>


</ion-content>

