<!--
  Generated template for the AggrementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="bleu">
    <ion-title style="text-align: center;">Aggrement</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
